<style>
body
{
    width:50px;
    height:100px;
    border:50px;
}
title
{
    border: 50px solid white;
}
h1
{
    color :rgb(82, 6, 82);
    margin:middle;
    padding : 10px;
    text-align:center;
}
div
{
    color :white ;
    margin : auto;
    padding : 10px;
    font-size: x-large
}
p
{
    color :white ;
    margin : left;
    padding : 10px;
    font-size: x-large;
} 
h2
{
    color :DodgerBlue;
    margin : auto; 
}
h3
{
    color:DodgerBlue;
}
ul
{
    color:white;
    font-size:x-large;
    padding:10px;
}